@inherits LayoutComponentBase

<div class="page">
    <header class="top-row px-4">
        <div class="container">
            <h1>Blazor Clean Architecture</h1>
        </div>
    </header>

    <main class="main px-4">
        @Body
    </main>
</div>
