<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorCleanArch.Web.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BlazorCleanArch.Web.Shared.MainLayout)">
            <p>No se encontró la página solicitada.</p>
        </LayoutView>
    </NotFound>
</Router>
